POSTGRES_USER=orion_admin
POSTGRES_PASSWORD=orion_super_secret_password_prod
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_super_secret
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/keycloak
